* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  background: #efecff;
  background-size: 16px 16px;
  font-family: 'Rubik', sans-serif;
}

.card {
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img {
  max-width: 280px;
  width: 30vw;
  height: 350px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h2 {
  font-size: 28px;
  margin-right: 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

.card p {
  font-size: 14px;
  font-weight: 400;
  color: #464545;
  margin-bottom: 24px;
  line-height: 1.6em;
}

.card button {
  border: 0;
  background: #121212;
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
    background: #000;
}

@media (width <= 740px) {
  .card {
    margin: 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: left;
    flex-direction: column;
  }
  
  .card button{
    width: 100%;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -70px 0 16px 0;
    width: 100%;
    max-width: 1000px;
    max-height: 250px;
  }
}