* {
    box-sizing: border-box;
}

.card{
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background-color: #fff;
    border-radius: 24px;
}